body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.263);
}

header {
  height: 150px;
  font-size: 500%;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  background-image: url(https://img.freepik.com/free-photo/mechanic-hand-checking-fixing-broken-car-car-service-garage_146671-19718.jpg?w=1380&t=st=1671151716~exp=1671152316~hmac=aad2d3684a0679d7092919151b96dd8ec67bef50b003cae78fa074085fcc56bc);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.toptitle {
  margin: auto;
  padding-top: 10px;
  color: rgb(185, 15, 15);
}

.nav1 {
  display: flex;
  height: 37px;
  position: relative;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: black;
  background-color: rgb(185, 15, 15);
  margin-bottom: 25px;
}

.zipdiv {
  flex: 1;
}

.zip,
.zip2 {
  position: relative;
  justify-content: center;
  display: inline-block;
  padding-left: auto;
  margin: 7px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.zipinput,
.zipinput2 {
  position: relative;
  margin: auto;
  width: 60%;
}
.ziprelocation {
  display: none;
  position: relative;
  justify-content: center;
  height: 35px;
  background-color: rgb(185, 15, 15);
  margin-bottom: 20px;
}

.columns {
  padding: 10px;
}

li {
  list-style: none;
  border-style: solid;
  border-color: black;
  border-width: 0 0 0 2px;
  border-top-left-radius: 30px;
  padding: 13px 0 0 15px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  margin: 0 20px 0 10px;
}
.box {
  min-height: 31.5%;
}

footer {
  background-color: rgb(185, 15, 15);
  height: 75px;
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
}

.footermes {
  padding-top: 30px;
  color: aliceblue;
}

@media screen and (max-width: 793px) {
  .zipinput {
    width: 50%;
  }
}
@media screen and (max-width: 643px) {
  .zip {
    display: none;
  }
  .zipinput {
    width: 65%;
  }
}
@media screen and (max-width: 600px) {
  .zipinput {
    display: none;
  }
  .submitzip {
    display: none;
  }
  .nav1 {
    display: block;
  }
  li {
    padding: 11px 0 0 15px;
  }
  .ziprelocation {
    display: block;
  }
  .nav1 {
    margin-bottom: 0;
  }
  .submitZip {
    display: none;
  }
}
@media screen and (max-width: 545px) {
  .toptitle {
    font-size: 65%;
    padding-top: 10%;
  }
}
