body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.263);
}

header {
  height: 150px;
  text-align: center;
  font-size: 200%;
  margin-top: 0;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: black;
  background-image: url(https://img.freepik.com/free-photo/mechanic-hand-checking-fixing-broken-car-car-service-garage_146671-19718.jpg?w=1380&t=st=1671151716~exp=1671152316~hmac=aad2d3684a0679d7092919151b96dd8ec67bef50b003cae78fa074085fcc56bc);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

h1 {
  margin: auto;
  padding-top: 50px;
  color: rgb(185, 15, 15);
}

nav {
  height: 37px;
  border-width: 2px 0 0 0;
  border-color: black;
  background-color: rgb(185, 15, 15);
}

.items {
  list-style: none;
  border-style: solid;
  border-color: black;
  border-width: 0 0 0 2px;
  border-top-left-radius: 30px;
  padding: 19px 40px 0 15px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.directory {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex: 2;
  margin: 0 10px 0 10px;
}

img {
  flex: 1;
  width: 100%;
}

.oilchange {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.oil-list {
  width: 75%;
  list-style: none;
  margin-top: 6%;
}

.oil-items {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;
  color: #555;
  background-color: white;
}

.img {
  flex: 1;
}

img {
  border-radius: 10px;
}

.oilinput {
  flex: 1;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.userData {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  flex: 1;
  text-align: right;
  margin: 2%;
}

.userData p {
  font-weight: 700;
  color: rgb(185, 15, 15);
  text-align: right;
}

footer {
  background-color: rgb(185, 15, 15);
  height: 75px;
  margin-top: 15%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: center;
}

.footermes {
  padding-top: 30px;
  color: aliceblue;
}
