body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.263);
}

header {
  height: 150px;
  text-align: center;
  font-size: 200%;
  margin-top: 0;
  background-image: url(https://img.freepik.com/free-photo/mechanic-hand-checking-fixing-broken-car-car-service-garage_146671-19718.jpg?w=1380&t=st=1671151716~exp=1671152316~hmac=aad2d3684a0679d7092919151b96dd8ec67bef50b003cae78fa074085fcc56bc);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}

.title {
  margin: auto;
  padding-top: 50px;
  color: rgb(185, 15, 15);
}

nav {
  display: flex;
  height: 37px;
  position: relative;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: black;
  background-color: rgb(185, 15, 15);
}

.vinrelocation {
  display: none;
  position: relative;
  justify-content: center;
  height: 35px;
  background-color: rgb(185, 15, 15);
}

.vindiv {
  flex: 1;
}

.vin,
.vin2 {
  position: relative;
  justify-content: center;
  display: inline-block;
  padding-left: auto;
  margin: 7px;
  color: aliceblue;
}

.vininput,
.vininput2 {
  position: relative;
  margin: auto;
  width: 60%;
}

li {
  list-style: none;
  border-style: solid;
  border-color: black;
  border-width: 0 0 0 2px;
  border-top-left-radius: 30px;
  padding: 19px 0 0 15px;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: aliceblue;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
  margin: 0 20px 0 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vehicleimg {
  width: 100%;
  margin: 50px auto 50px 50px;
}

.vehicleinfocontainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 50%;
  height: fit-content;
  margin: 50px auto 50px auto;
  font-family: Arial, Helvetica, sans-serif;
}

.vehicleinfotitle {
  text-align: center;
}

@media screen and (max-width: 595px) {
  nav {
    display: block;
  }
  ul {
    padding: 0;
  }
  .title {
    font-size: 150%;
  }
  .vin {
    display: none;
  }
  .vininput {
    display: none;
  }
  .vinrelocation {
    display: block;
  }
  .vehicleimg {
    margin: 25px 0 0 25px;
    width: 100%;
  }
  .vehicleinfocontainer {
    margin: 25px auto 0 auto;
  }
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 410px) {
  .title {
    padding-top: 20px;
  }
}

/* Set the size of the div element that contains the map */
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}
